<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/material-icons.css') }}" media="screen,projection" />
        
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}" media="screen,projection"/>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.lineProgressbar.min.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Scoreboard</title>
    </head>


    <body class="grey lighten-4 grey-text text-darken-4 z-depth-0">
        <div class="container">
        <nav>
            <div class="nav-wrapper teal">
                <!-- <div class="container"> -->
                <a href="/" class="brand-logo center"><strong>Leadboard</strong></a>
                <ul id="nav-mobile" class="right">
                    <li>
                    <a href="register">Register</a>
                    </li>
                </ul>

                <ul id="nav-mobile" class="left">
                    <li>
                    <a class="modal-trigger" href="#modal1">Bin Status</a>
                    </li>
                </ul>
                
                <!-- </div> -->
            </div>
        </nav>

        <!-- MODAL -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4 class="center">Bin Status</h4>
                <div class="row">
                    <div style="margin-top:15px;" class="col s1">
                        <span><strong>Bin #1</strong></span>
                    </div>
                    <div class="col s11">
                        <div id="binOne"></div>
                    </div>

                    <div style="margin-top:15px;" class="col s1">
                        <span><strong>Bin #2</strong></span>
                    </div>
                    <div class="col s11">
                        <div id="binTwo"></div>
                    </div>

                    <div style="margin-top:15px;" class="col s1">
                        <span><strong>Bin #3</strong></span>
                    </div>
                    <div class="col s11">
                        <div id="binThree"></div>
                    </div>
                </div>
                
                
                
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

                <div class="card-panel">
                    <table class="striped highlight">
                        <thead>
                            <tr>
                                <th class="left">Rank</th>
                                <th class="center">Name</th>
                                <th class="right">Points</th>
                            </tr>
                        </thead>
                
                        <tbody>
                            {% for value in all_students %}
                            <tr>
                                <td class="left">{{loop.index}}</td>
                                <td class="center">{{value.full_name[:17]|title}}</td>
                                <td class="right">{{value.score}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                </div>
        </div>

        <div style="padding:50px;"></div>

    <!--Import jQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.2.1.min.js') }}"></script>
    <!-- Ajax -->
    <script src="{{ url_for('static', filename = 'js/ajax-jquery.min.js') }}"></script>
    <!-- Materialize -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/materialize.min.js') }}"></script>
    <!-- Socket IO -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/socket.io.min.js') }}"></script>
    <!-- Progressbar -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.lineProgressbar.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/d3.min.js') }}"></script>

    <!-- <script type="text/javascript" src="{{ url_for('static', filename = 'js/index.js') }}"></script>
 -->
    <script>
        $(document).ready(function () {

            //connect to the socket server.
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
            var numbers_received = [];

            //receive score from server
            socket.on('newnumber', function(msg) {
                console.log("Received number" + msg.number);
                //location.reload();
            });


            //receive bin status from server
            socket.on('bin_stat', function(msg) {
                console.log("Received Data: " + msg.bin_stat + "    Bid ID: " + msg.bin_id);
                updateBinStat(msg.bin_id, msg.bin_stat)
                //location.reload();
                //maintain a list of ten numbers
            });

            // Start Counter
            socket.on('cntr', function(msg) {
                console.log("Received Data: " + msg.cntr);
                if(msg.cntr == 'start'){
                    window.open("http://127.0.0.1:5000/counter","_self")
                }
                //location.reload();
                //maintain a list of ten numbers
            });


            // JAVASCRIPT START HERE //
            $('.modal').modal({
                dismissible: true,
                inDuration: 300,
                outDuration: 200,
                ready: function (modal, trigger) {
                }
            });




            


            // Progressbar
            $('#binOne').LineProgressbar({
                percentage: 0,
                fillBackgroundColor: '#1eb6e0',
                height: '35px'
            });
            $('#binTwo').LineProgressbar({
                percentage: 0,
                fillBackgroundColor: '#1d68e0',
                height: '35px'
            });
            $('#binThree').LineProgressbar({
                percentage: 0,
                fillBackgroundColor: '#a21ce0',
                height: '35px'
            });
        });
    </script>

    <script>
        function sendAjaxReq(){
            $.getJSON('http://127.0.0.1:5000/_add_numbers', {
          }, function(data) {
            var start_counter = data.result
            console.log('start_counter',start_counter)
            if(start_counter){
                window.open("http://127.0.0.1:5000/counter","_self")
            }
            //setTimeout(checkCntr(), 300);
            
          });
          return false;
        }

        
        window.setInterval(sendAjaxReq, 1000);

        bin1_last = ''
        bin2_last = ''
        bin3_last = ''
        val_tresh = 3

        function updateBinStat(binId, val){
            switch(binId) {
                case "1":
                    if(bin1_last != val){
                        $('#binOne').LineProgressbar({
                            percentage: val,
                            fillBackgroundColor: '#1eb6e0',
                            height: '35px'
                        });
                    }
                    bin1_last = val
                    break;
                case "2":
                    if(bin2_last != val){
                        $('#binTwo').LineProgressbar({
                            percentage: val,
                            fillBackgroundColor: '#1d68e0',
                            height: '35px'
                        });
                    }
                    bin2_last = val
                    break;
                case "3":
                    if(bin3_last != val){
                        $('#binThree').LineProgressbar({
                            percentage: val,
                            fillBackgroundColor: '#a21ce0',
                            height: '35px'
                        });
                    }
                    bin3_last = val
                    break;
                default:
                    text = "Wrong Bin ID";
                }
        }
    </script>

    {% if msg != '' %}
    <script>
        Materialize.toast('{{ msg }}', 8000, 'rounded');
    </script>
    {% endif %}
    </body>
</html>